Repository jameeker/cs32301_project, pull requests merged in 2025-04, with the labels that each got.

#21 Merging <database-creation> with <dev/backend>
  backend/README.md
  backend/blueprints/bulletin_board.py
  backend/database/__init__.py
  backend/database/database-migrations/00-initial-schema.py
  backend/database/database-migrations/01-initial-indexes.py
  backend/database/db.py
  backend/database/documentation/database-setup.md
  backend/database/export_db.py
  backend/database/sql/indexes.sql
  backend/database/sql/schema.sql
  backend/database/test_db.py
  backend/requirements.txt
  requirements.txt
Labels: backend

#22 Feature/backend/bulletin board
  backend/app.py
  backend/blueprints/bulletin_board.py
Labels: backend

#33 Merge-feature/backend/bulletin-board-for-backend
  backend/app.py
  backend/blueprints/bulletin_board.py
  backend/database/exports/Note_States_20250406_134217.csv
  backend/database/exports/Notes_20250406_134217.csv
  backend/database/exports/Users_20250406_134217.csv
  backend/database/exports/notes_with_states_20250406_134217.csv
Labels: backend

#45 Feature/backend/database-scripting
  backend/database/documentation/database-setup.md
Labels: backend

#54 Feature/frontend/ViewNoteAndAbout
  frontend/src/app/App.js
  frontend/src/assets/ClosedBook.png
  frontend/src/assets/OpenBook.png
  frontend/src/assets/about1.jpg
  frontend/src/assets/about2.jpg
  frontend/src/assets/backgrounds/cloudy-day.webp
  frontend/src/assets/backgrounds/full-bloom.webp
  frontend/src/assets/backgrounds/geometry.webp
  frontend/src/assets/backgrounds/light-veneer.webp
  frontend/src/assets/backgrounds/seamless_paper_texture.webp
  frontend/src/assets/logo_placeholder_512.png
  frontend/src/components/NavButtonBar/NavButtonBar.css
  frontend/src/components/NavButtonBar/index.js
  frontend/src/pages/index.js
  frontend/src/pages/page_about/about.css
  frontend/src/pages/page_about/about.js
  frontend/src/pages/page_bulletin_board/bulletin_board.css
  frontend/src/pages/page_bulletin_board/bulletin_board.js
  frontend/src/pages/page_clock_stats/clock_stats.css
  frontend/src/pages/page_clock_stats/clock_stats.js
  frontend/src/pages/page_personal_board/personal_board.css
  frontend/src/pages/page_personal_board/personal_board.js
  frontend/src/pages/page_view_note/index.js
  frontend/src/pages/page_view_note/view_note.css
  frontend/src/pages/page_view_note/view_note.js
Labels: frontend

#55 my dev/backend branch -> staging/integration
  .gitignore
  backend/README.md
  backend/app.py
  backend/blueprints/bulletin_board.py
  backend/blueprints/community_stats.py
  backend/blueprints/how_to.py
  backend/database/__init__.py
  backend/database/database-migrations/00-initial-schema.py
  backend/database/database-migrations/01-initial-indexes.py
  backend/database/database-migrations/02-adding-test-data.py
  backend/database/database-migrations/03-adding-test-default-prompts.py
  backend/database/db.py
  backend/database/documentation/database-setup.md
  backend/database/export_db.py
  backend/database/exports/Note_States_20250406_134217.csv
  backend/database/exports/Notes_20250406_134217.csv
  backend/database/exports/Users_20250406_134217.csv
  backend/database/exports/note_states_20250406_234405.csv
  backend/database/exports/note_states_20250412_174450.csv
  backend/database/exports/note_states_20250412_210216.csv
  backend/database/exports/note_states_20250412_213518.csv
  backend/database/exports/notes_20250406_234405.csv
  backend/database/exports/notes_20250412_174450.csv
  backend/database/exports/notes_20250412_210216.csv
  backend/database/exports/notes_20250412_213518.csv
  backend/database/exports/notes_with_states_20250406_134217.csv
  backend/database/exports/notes_with_states_20250406_234405.csv
  backend/database/exports/notes_with_states_20250412_174450.csv
  backend/database/exports/notes_with_states_20250412_210216.csv
  backend/database/exports/notes_with_states_20250412_213518.csv
  backend/database/exports/users_20250406_234405.csv
  backend/database/exports/users_20250412_174450.csv
  backend/database/exports/users_20250412_210216.csv
  backend/database/exports/users_20250412_213518.csv
  backend/database/seed_test_data.py
  backend/database/sql/indexes.sql
  backend/database/sql/schema.sql
  backend/database/test_db.py
  backend/requirements.txt
  frontend/src/pages/page_bulletin_board/bulletin_board.css
  frontend/src/pages/page_bulletin_board/bulletin_board.js
  frontend/src/pages/page_how_to/how_to.js
  info/README.ipynb
  requirements.txt
Labels: backend, frontend

#64 merge feature/frontend/ViewNoteAndAbout -> dev/frontend
  frontend/src/app/App.js
  frontend/src/pages/index.js
  frontend/src/pages/page_bulletin_board/bulletin_board.css
  frontend/src/pages/page_bulletin_board/bulletin_board.js
  frontend/src/pages/page_clock_stats/clock_stats.js
  frontend/src/pages/page_personal_board/personal_board.js
  frontend/src/pages/page_view_note/view_note.css
  frontend/src/pages/page_view_note/view_note.js
  frontend/src/pages/page_write_note/index.js
  frontend/src/pages/page_write_note/write_note.css
  frontend/src/pages/page_write_note/write_note.js
Labels: frontend

#68 Fixed how-to
  frontend/public/AboutPage-howto.png
  frontend/public/ClockStatsOverlayPage-howto.png
  frontend/public/PersonalBoard-howto.png
  frontend/public/how-to.html
  frontend/public/trash-howto.png
  frontend/public/trash2-howto.png
Labels: frontend

#70 dev/backend -> staging/integration
  backend/database/database-migrations/04-adding-supplemental-data.py
  backend/database/db.py
  backend/database/dumps/Dump20250418.sql
  backend/database/exports/note_states_20250418_222825.csv
  backend/database/exports/notes_20250418_222825.csv
  backend/database/exports/notes_with_states_20250418_222825.csv
  backend/database/exports/users_20250418_222825.csv
  backend/database/test_db_ops.py
Labels: backend

#73 dev/frontend -> temporary branch
  frontend/src/assets/backgrounds/home-icon.png
  frontend/src/assets/backgrounds/pencil-icon.png
  frontend/src/assets/backgrounds/sticky-note.png
  frontend/src/assets/backgrounds/zoom-icon.png
  frontend/src/pages/page_bulletin_board/bulletin_board.css
  frontend/src/pages/page_how_to/AboutPage-howto.png
  frontend/src/pages/page_how_to/ClockStatsOverlayPage-howto.png
  frontend/src/pages/page_how_to/PersonalBoard-howto.png
  frontend/src/pages/page_how_to/how-to.html
  frontend/src/pages/page_how_to/trash-howto.png
  frontend/src/pages/page_how_to/trash2-howto.png
  frontend/src/pages/page_trash/grid.html
  frontend/src/pages/page_trash/trash-page.png
  frontend/src/pages/page_trash/trash-page2.png
  frontend/src/pages/page_trash/trash.html
  frontend/src/pages/page_trash/trash2.html
Labels: frontend, integration
